@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body{
    background-color: #87B5B6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#toolbar{
    background-color: #4AA3A3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
    padding: 8px;
    border-bottom: 1px solid #1D2F2F;
    height: 30px;
}
.btn-maximize{
    color: black;
}

#editorWrap,
#previewWrap{
    border: 1px solid #1D2F2F;;
    display: block;
    width: 600px;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 16px 3px rgba(82,82,82,1);
    -moz-box-shadow: 0px 0px 16px 3px rgba(82,82,82,1);
    box-shadow: 0px 0px 16px 3px rgba(82,82,82,1);
    background-color: #C0D7D8;
    display: flex;
    flex-direction: column;
}
#editorWrap{
    min-height: 250px;
}
#previewWrap{
    width: 800px;
}

#editor{
    background-color: #C0D7D8;
    font-family: monospace;    
    flex-grow: 1;    
}
#editor:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#preview{
    min-height: 200px;
    height: fit-content;
    padding: 10px;
    word-wrap: break-word;
}

@media(max-width: 870px){
    #editorWrap{
        max-width: 75%;
    }
    #previewWrap{
        max-width: 97%;
    }
}

.maximized{
    position: absolute;
    top: 0;
    min-width: 92%;
    height: 97%;
    overflow-y: scroll;
}

.hide{
   display: none;
}
