@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body{
    background-color: #87B5B6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#toolbar{
    background-color: #4AA3A3;
    display: flex;
    justify-content: space-between;
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
    padding: 8px;
    border-bottom: 1px solid #1D2F2F;
}

#editorWrap,
#previewWrap{
    border: 1px solid #1D2F2F;;
    display: block;
    width: 600px;
    margin: 15px 0px;
    -webkit-box-shadow: 0px 0px 16px 3px rgba(82,82,82,1);
    -moz-box-shadow: 0px 0px 16px 3px rgba(82,82,82,1);
    box-shadow: 0px 0px 16px 3px rgba(82,82,82,1);
    background-color: #C0D7D8;
}
#previewWrap{
    width: 800px;
}

#editor{
    background-color: #C0D7D8;
    font-family: monospace;        
}
#editor:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#preview{
    min-height: 200px;
    height: fit-content;
    padding: 10px;
}
